* {
  padding: 0px;
  margin: 0px;
}

body {
  background-color: black;
  color: aliceblue;
  text-align: center;
  height: 100vh;
  position: relative;
}

img {
  position: absolute;
  max-width: 33vw;
  max-height: 33vh;
}